 *{
    padding: 0%;
    margin: 0%;
 }
 .section{
            display: flex;
            flex-direction: column;
            height: 630px;
            background-color:whitesmoke;
            padding-top: 10px;
            padding-left: 5px;
            
        .about{
                display: flex;
                text-transform: uppercase;
                align-items: center;
                justify-content: center;
                 
                i{
                    color: black;
                    font-size: 30px;
                    padding-right: 20px;
                }
                p{
                    font-size: 30px;
                    padding-left:17px;
                }

                }

                .head{
                    display: flex;
                    justify-content: center;
                    
                    
                    
                    h1{
                        font-size: 25px;
                        text-decoration: underline;
                        padding-top: 20px;
                        padding-left: 50px;
                        text-transform: uppercase;
                        
                        
                    }

                }

                .explain{
                    padding-top: 6px;

                    p{
                        font-size: 18px;
                        text-align: justify;
                        width: 900px;
                        padding-left: 165px;
                        padding-top: 45px;
                        font-family: 'Times New Roman', Times, serif;

                    }


                }

                .final{
                    
                    height: 60px;
                    width: 900px;
                    background-color: #BDBD9B;
                    margin-top: 30px;
                    margin-left: 165px;
                    text-transform: capitalize;
                    font-family: 'Times New Roman', Times, serif;
                    font-size: 18px;
                    color: black;
                }

                .intern{
                    height: 60px;
                    width: 900px;
                    background-color: #BDBD9B;
                    margin-top: 30px;
                    margin-left: 165px;
                    text-transform: capitalize;
                    font-family: 'Times New Roman', Times, serif;
                    font-size: 18px;
                    color: black;
                }

                .skill{
                    height: 60px;
                    width: 900px;
                    background-color: #BDBD9B;
                    margin-top: 30px;
                    margin-left: 165px;
                    text-transform: capitalize;
                    font-family: 'Times New Roman', Times, serif;
                    font-size: 18px;
                    color: black;
                }
        }