*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.container{
    height: 630px;
    background-color: whitesmoke;
    padding-top: 90px;
    padding-left: 140px;
    padding-bottom: 140px;
    padding-right: 140px;

    h1{
        text-transform: uppercase;
        font-size: 27px;
    }

    h4{
        padding-top: 10px;
        font-size: 20px;
    }

    .internship-card{
        padding-top: 50px;

        h1{
            text-transform: uppercase;
            font-size: 27px;
        }
        h5{
            font-size: 20px;
            padding-top: 20px;
        }

        p{
            padding-top: 10px;
            width: 600px;
            text-align: justify;
        }

        button{
            text-transform: uppercase;
            margin-top: 30px;
            padding: 10px 20px;
            gap: 20px;
            justify-content: space-between;
            color: black;
            border: 2px solid black;
            border-radius: 5px;
            cursor: pointer;
        }

    }
}