* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    font-family: arial, sans-serif;
    background-color: rgb(198, 187, 187);
    color: black;
}

.info {
    padding-top: 30px;
    text-align: center;
    font-size: 28px;
    font-family: 'Times New Roman', Times, serif;

    h1 {
        text-transform: uppercase;
    }
}

.project-grid {
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 20px;
    color: black;
    justify-content: center;


    .project-card1 {
        display: flex;
        flex-direction: row;

        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
        justify-content: center;
        background-color: whitesmoke;

        img {
            width: 500px;
            height: 400px;
            border-radius: 10px;
        }

        .sec {
            display: flex;
            flex-direction: column;


            h2 {

                height: 20px;
                text-transform: uppercase;
                padding-left: 50px;
                padding-top: 20px;

                font-size: 22px;
                color: black;
            }

            p {
                font-size: 17px;
                padding-top: 40px;
                width: 80%;
                padding-left: 50px;
                color: black;
                justify-content: center;
                text-align: justify;
                font-family: 'Times New Roman', Times, serif;


            }

            a{
            
                color: rgb(43, 43, 97);
                font-size: 18px;
                padding-top: 30px;
                padding-left: 450px;
            }
        }


    }

    .project-card2 {
        display: flex;
        flex-direction: row;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
        justify-content: center;
        background-color: rgb(218, 218, 218);



        img {
            width: 500px;
            height: 400px;
            border-radius: 10px;
        }

        .sec {
            display: flex;
            flex-direction: column;
            


            h2 {

                height: 20px;
                text-transform: uppercase;
                padding-left: 50px;
                padding-top: 20px;
                font-size: 22px;
                color: black;
            }

            p {
                font-size: 17px;
                padding-top: 50px;
                width: 80%;
                padding-left: 50px;
                color: black;
                justify-content: center;
                text-align: justify;
                font-family: 'Times New Roman', Times, serif;


            }

            a{
            
                color: rgb(43, 43, 97);
                font-size: 18px;
                padding-top: 30px;
                padding-left: 450px;
            }
        }


    }

    .project-card3 {
        display: flex;
        flex-direction: row;

        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
        justify-content: center;
        background-color: rgb(197, 197, 197);



        img {
            width: 500px;
            height: 400px;
            border-radius: 10px;
        }

        .sec {
            display: flex;
            flex-direction: column;


            h2 {
                text-align: justify;
                width: 500px;

                height: 20px;
                text-transform: uppercase;
                padding-left: 50px;
                padding-top: 15px;

                font-size: 22px;
                color: black;
            }

            p {
                font-size: 17px;
                padding-top: 70px;
                width: 80%;
                padding-left: 50px;
                color: black;
                justify-content: center;
                text-align: justify;
                font-family: 'Times New Roman', Times, serif;


            }

            a{
            
                color: rgb(43, 43, 97);
                font-size: 18px;
                padding-top: 20px;
                padding-left: 450px;
            }
        }


    }
}